#For dev namespace
replicaCount: 1

image:
  repository: nexus.optmoskva.ru:8444/tcm/media-server
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

command: "./media-server"
args:
  - "--mode=env"

secretName: "tcm-media-server"

dataPath: &data_path "/data/"

env:
  MEDIA_SERVER_HOST: "0.0.0.0"
  MEDIA_SERVER_PORT: 8082
  MEDIA_SERVER_DATA_ROUTE_NAME: *data_path
  MEDIA_SERVER_DATA_ROUTE_STORAGE_ROUTE: *data_path
  MEDIA_SERVER_PREFIX: "/media-server"
secretEnv: 
  MEDIA_SERVER_ADMIN_PASS: "mediaServerPwd"


serviceAccount:
  create: false

service:
  type: ClusterIP
  port: 80
  targetPort: http

ingress:
  enabled: true
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: services.optmoskva.ru
      paths:
        - path: /media-server(/|$)(.*)
          pathType: Prefix
  tls:
    - hosts:
        - '*.optmoskva.ru'
      secretName: mms-dev-mms-tls

podSecurityContext:
  fsGroup: 1007777000
  runAsUser: 1007777000
  runAsGroup: 1007777000

volumes:
  - name: data-path
    persistentVolumeClaim:
      claimName: media-server-dev-pvc

## Configure volumeMounts
volumeMounts:
  - mountPath: *data_path
    name: data-path

livenessProbe:
  httpGet:
    path: /media-server/ping
    port: http
  periodSeconds: 10
  timeoutSeconds: 10
  successThreshold: 1
  failureThreshold: 3          
readinessProbe:
  httpGet:
    path: /media-server/ping
    port: http
  periodSeconds: 10
  timeoutSeconds: 10
  successThreshold: 1
  failureThreshold: 3          
startupProbe:
  httpGet:
    path: /media-server/ping
    port: http
  failureThreshold: 60
  periodSeconds: 10

resources:
   limits:
     cpu: 500m
     memory: 256Mi
   requests:
     cpu: 200m
     memory: 128Mi
